Django==1.8
Pillow==2.7.0
PyYAML==3.11
django-admin-bootstrapped==2.3.1
django-appconf==1.0.1
django-filter==0.9.2
django-filters==0.1.0
django-imagekit==3.2.6
django-rest-auth==0.3.4
django-rest-swagger==0.2.9
djangorestframework==3.1.1
factory-boy==2.4.1
inmagik-drf-auth==0.1.1
pilkit==1.1.12
requests==2.6.0
six==1.9.0
jsonfield==1.0.3
wsgiref==0.1.2
